<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @story.content %>
</p>

<p>
  <strong>User:</strong>
  <%= link_to @story.user_id, @story.user %>
</p>

<%= link_to 'Edit', edit_story_path(@story) %> |
<%= link_to 'Back', stories_path %>
